
.vc-editable-input {
  position: relative;
}
.vc-input__input {
  padding: 0;
  border: 0;
  outline: none;
}
.vc-input__label {
  text-transform: capitalize;
}


.vc-saturation,
.vc-saturation--white,
.vc-saturation--black {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.vc-saturation--white {
  background: linear-gradient(to right, #fff, rgba(255,255,255,0));
}
.vc-saturation--black {
  background: linear-gradient(to top, #000, rgba(0,0,0,0));
}
.vc-saturation-pointer {
  cursor: pointer;
  position: absolute;
}
.vc-saturation-circle {
  cursor: head;
  width: 4px;
  height: 4px;
  box-shadow: 0 0 0 1.5px #fff, inset 0 0 1px 1px rgba(0,0,0,.3), 0 0 1px 2px rgba(0,0,0,.4);
  border-radius: 50%;
  transform: translate(-2px, -2px);
}


.vc-hue {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 2px;
}
.vc-hue--horizontal {
  background: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
}
.vc-hue--vertical {
  background: linear-gradient(to top, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
}
.vc-hue-container {
  cursor: pointer;
  margin: 0 2px;
  position: relative;
  height: 100%;
}
.vc-hue-pointer {
  z-index: 2;
  position: absolute;
}
.vc-hue-picker {
  cursor: pointer;
  margin-top: 1px;
  width: 4px;
  border-radius: 1px;
  height: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .6);
  background: #fff;
  transform: translateX(-2px) ;
}


.vc-checkerboard {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: contain;
}


.vc-alpha {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.vc-alpha-checkboard-wrap {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}
.vc-alpha-gradient {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.vc-alpha-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
  height: 100%;
  margin: 0 3px;
}
.vc-alpha-pointer {
  z-index: 2;
  position: absolute;
}
.vc-alpha-picker {
  cursor: pointer;
  width: 4px;
  border-radius: 1px;
  height: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .6);
  background: #fff;
  margin-top: 1px;
  transform: translateX(-2px);
}


.vc-sketch {
  position: relative;
  width: 200px;
  padding: 10px 10px 0;
  box-sizing: initial;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 8px 16px rgba(0, 0, 0, .15);
}
.vc-sketch-saturation-wrap {
  width: 100%;
  padding-bottom: 75%;
  position: relative;
  overflow: hidden;
}
.vc-sketch-controls {
  display: flex;
}
.vc-sketch-sliders {
  padding: 4px 0;
  flex: 1;
}
.vc-sketch-sliders .vc-hue,
.vc-sketch-sliders .vc-alpha-gradient {
  border-radius: 2px;
}
.vc-sketch-hue-wrap {
  position: relative;
  height: 10px;
}
.vc-sketch-alpha-wrap {
  position: relative;
  height: 10px;
  margin-top: 4px;
  overflow: hidden;
}
.vc-sketch-color-wrap {
  width: 24px;
  height: 24px;
  position: relative;
  margin-top: 4px;
  margin-left: 4px;
  border-radius: 3px;
}
.vc-sketch-active-color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15), inset 0 0 4px rgba(0, 0, 0, .25);
  z-index: 2;
}
.vc-sketch-color-wrap .vc-checkerboard {
  background-size: auto;
}
.vc-sketch-field {
  display: flex;
  padding-top: 4px;
}
.vc-sketch-field .vc-input__input {
  width: 90%;
  padding: 4px 0 3px 10%;
  border: none;
  box-shadow: inset 0 0 0 1px #ccc;
  font-size: 10px;
}
.vc-sketch-field .vc-input__label {
  display: block;
  text-align: center;
  font-size: 11px;
  color: #222;
  padding-top: 3px;
  padding-bottom: 4px;
  text-transform: capitalize;
}
.vc-sketch-field--single {
  flex: 1;
  padding-left: 6px;
}
.vc-sketch-field--double {
  flex: 2;
}
.vc-sketch-presets {
  margin-right: -10px;
  margin-left: -10px;
  padding-left: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}
.vc-sketch-presets-color {
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 10px 10px 0;
  vertical-align: top;
  cursor: pointer;
  width: 16px;
  height: 16px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15);
}
.vc-sketch-presets-color .vc-checkerboard {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15);
  border-radius: 3px;
}
.vc-sketch__disable-alpha .vc-sketch-color-wrap {
  height: 10px;
}

.pm-attachment-items .pm-uploaded-img {
  display: inline-block;
}
.pm-attachment-items .pm-uploaded-img .pm-uploaded-file {
  object-fit: contain;
}


.pm-small-title input[type="checkbox"] {
    margin: -3px 0 0 !important;
}
.pm-user-list input[type="checkbox"] {
    margin: -1px 0 0 !important;
}

.pm-task-comment-wrap .comment-content-ul .icon-pm-down-arrow {
  cursor: pointer;
}
.pm-task-comment-wrap .comment-content-ul .icon-pm-down-arrow:hover:before {
  color: #444;
}
.pm-task-comment-wrap .comment-action-ul li a {
  display: block;
}
.pm-task-comment-thumb {
  height: 80px;
  width: 80px;
}

.popover-inner {
  padding: 5px 8px 4px !important;
  background: #f1f1f1 !important;
}
.popover-arrow {
  border-color: #f1f1f1 !important;
}
.single-task-type .process-text-wrap .slot-wrap {
  display: flex;
  align-items: center;
}
.single-task-type .process-results.task-type {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 5px;
  cursor: pointer;
  line-height: 1;
}
.single-task-type .process-results.task-type span {
  background: #f5f6f8;
  padding: 4px 8px;
  color: #858587;
  font-size: 13px;
  border-radius: 2px;
  font-weight: 400;
}
.single-task-type .process-results.task-type .type-block {
  position: relative;
}
.single-task-type .process-results.task-type .type-block:hover > .cross {
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-task-type .process-results.task-type .type-block .cross {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #cf513d;
  border-radius: 2px;
  cursor: pointer;
}
.single-task-type .process-results.task-type .type-block .cross svg {
  fill: #fff;
  height: 10px;
  width: 10px;
}
.single-task-type .pm-popper .pm-pro-type-elements {
  min-width: 140px;
  padding: 5px 8px 4px !important;
  background: #f1f1f1 !important;
}
.single-task-type .pm-popper .popper__arrow {
  z-index: -1;
}
.single-task-type .pm-popper[x-placement^="top"] .popper__arrow {
  z-index: -1;
  border-color: transparent transparent transparent transparent !important;
}
.single-task-type .pm-popper[x-placement^="top"] .popper__arrow:after {
  border-color: #f1f1f1 transparent transparent transparent;
}
.single-task-type .pm-popper[x-placement^="bottom"] .popper__arrow {
  z-index: -1;
  border-color: transparent transparent transparent transparent !important;
}
.single-task-type .pm-popper[x-placement^="bottom"] .popper__arrow:after {
  border-color: transparent transparent #f1f1f1 transparent;
}
.single-task-type .icon-pm-tag {
  cursor: pointer;
}
.single-task-type .type-color {
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
  font-size: 12px;
  font-weight: 400;
  /* height: 20px; */
  line-height: 10px;
  padding: 0.3em 4px;
  color: #fff;
  white-space: nowrap;
}
.single-task-type .type-block {
  margin-right: 5px;
}
.single-task-type .type-block:last-child {
  margin-right: 0;
}

a.pro-button.button-upgrade-to-pro[data-v-7d2d88cf] {
  top: 50%;
  left: 50%;
  color: #fff;
  padding: 10px 15px;
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #ff9000;
  min-height: auto;
  font-weight: 600;
  align-items: center;
  border-radius: 5px;
}
a.pro-button.button-upgrade-to-pro .crown-icon[data-v-7d2d88cf] {
  height: 1.2em;
  margin-left: 10px;
}
a.pro-button.button-upgrade-to-pro[data-v-7d2d88cf]:hover {
  background: #CF7500 !important;
}


.pm-line-through {
    text-decoration: line-through;
}
.pm-block-content {
    overflow: hidden;
}

.description-wrap {
  margin-top: 20px;
}
.description-wrap .task-details .pm-des-area .label {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
.description-wrap .task-details .pm-des-area .pm-task-description * {
  white-space: pre-wrap;
  line-height: 1.7;
}
.description-wrap .task-details .pm-des-area .pm-task-description p {
  margin: 0;
}
.actions-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.actions-wrap .pm-action-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.actions-wrap .label {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
}
.actions-wrap .label .info-icon {
  padding: 0 6px;
}
.actions-wrap .label .info-icon svg {
  height: 10px;
  width: 10px;
  fill: #858587;
}
.actions-wrap .task-privacy-wrap .process-privacy-text-wrap {
  display: flex;
  align-items: center;
}
.actions-wrap .task-privacy-wrap .privacy-anchor .pm-toggle-switch {
  height: 12px;
  width: 20px;
}
.actions-wrap .task-privacy-wrap .privacy-anchor .pm-toggle-switch:after {
  top: 2px;
  width: 8px;
  height: 8px;
}
.actions-wrap .task-privacy-wrap .data-active:hover ~ .pm-project-module-content-overlay {
  width: 95%;
  height: 120%;
  display: block;
  margin-left: -15px;
  border-radius: 3px;
}
.actions-wrap .task-privacy-wrap .data-active:hover ~ .pm-project-module-content-overlay a.pro-button {
  width: 150px;
  padding: 8px 14px;
  font-size: 12px;
  line-height: 18px;
}
.actions-wrap .task-privacy-wrap .data-active:hover ~ .pm-project-module-content-overlay a.pro-button svg.crown-icon {
  margin-left: 6px;
}
.actions-wrap .task-privacy-wrap .data-active ~ .pm-project-module-content-overlay:hover {
  width: 95%;
  height: 120%;
  display: block;
  margin-left: -15px;
  border-radius: 3px;
}
.actions-wrap .task-privacy-wrap .data-active ~ .pm-project-module-content-overlay:hover a.pro-button {
  width: 150px;
  padding: 8px 14px;
  font-size: 12px;
  line-height: 18px;
}
.actions-wrap .task-privacy-wrap .data-active ~ .pm-project-module-content-overlay:hover a.pro-button svg.crown-icon {
  margin-left: 6px;
}
.actions-wrap .task-due-date-wrap .reportrange-text {
  border: none;
  padding: 0;
}
.actions-wrap .task-due-date-wrap .date-footer {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
.actions-wrap .task-due-date-wrap .date-footer .action {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.actions-wrap .task-due-date-wrap .date-footer .action .cross {
  margin-right: 10px;
  padding: 0 0 0 14px;
}
.actions-wrap .task-due-date-wrap .date-footer .action .cross svg {
  fill: #e9e9e9;
  height: 12px;
  width: 12px;
}
.actions-wrap .context {
  margin-bottom: 7px;
  margin-top: 7px;
  position: relative;
  width: 50%;
  padding-right: 10px;
}
.actions-wrap .context .spinner-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
  background-color: rgba(241, 241, 241, 0.65);
  border-radius: 3px;
  margin-right: 15px;
}
.actions-wrap .context .spinner-wrap .task-tool-spinner > div {
  width: 9px;
  height: 9px;
  background-color: #72777c;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.actions-wrap .context .spinner-wrap .task-tool-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.actions-wrap .context .spinner-wrap .task-tool-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
0%,
  80%,
  100% {
    -webkit-transform: scale(0);
}
40% {
    -webkit-transform: scale(1);
}
}
@keyframes sk-bouncedelay {
0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
}
40% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
}
.actions-wrap .context .display-flex {
  display: flex;
  align-items: center;
}
.actions-wrap .context .process-text-wrap {
  display: flex;
  align-items: center;
}
.actions-wrap .context .process-text-wrap .process-btn {
  background: #f1f1f1;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  justify-content: center;
}
.actions-wrap .context .process-text-wrap .process-btn i {
  line-height: 0;
}
.actions-wrap .context .process-text-wrap .process-btn i:before {
  color: #72777c;
  font-size: 14px;
}
.actions-wrap .context .process-text-wrap .process-btn svg {
  height: 12px;
  width: 12px;
  fill: #7f7f7f;
}
.actions-wrap .context .process-text-wrap .helper-text {
  font-size: 13px;
  margin-left: 5px;
  font-weight: 300;
  cursor: pointer;
}
.actions-wrap .context .process-text-wrap:hover {
  color: #000;
}
.actions-wrap .context .process-text-wrap:hover .process-btn {
  background: #007cba;
}
.actions-wrap .context .process-text-wrap:hover .process-btn i:before {
  color: #fff;
}
.actions-wrap .context .process-text-wrap:hover .process-btn svg {
  fill: #fff;
}
.actions-wrap .context .data-active {
  display: flex;
  align-items: center;
}
.actions-wrap .context .data-active:hover {
  background: transparent;
}
.actions-wrap .context .data-active .process-text-wrap {
  cursor: pointer;
}
.actions-wrap .context .process-results.user-images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 5px;
}
.actions-wrap .context .process-results.user-images .image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  position: relative;
  margin-right: 3px;
}
.actions-wrap .context .process-results.user-images .image:last-child {
  margin-right: 0;
}
.actions-wrap .context .process-results.user-images .image:hover > .cross {
  display: flex;
  align-items: center;
  justify-content: center;
}
.actions-wrap .context .process-results.user-images .image .cross {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e46c6c;
  border-radius: 50%;
}
.actions-wrap .context .process-results.user-images .image .cross svg {
  height: 8px;
  width: 8px;
  fill: #fff;
}
.actions-wrap .context .process-results.user-images .image img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.actions-wrap .context .process-results.task-privacy {
  margin-left: 5px;
  cursor: pointer;
}
.actions-wrap .context .process-results.task-privacy .status {
  border-radius: 3px;
  display: flex;
  align-items: center;
  line-height: 1;
}
.actions-wrap .context .process-results.task-privacy .status .info-icon {
  line-height: 0;
  padding: 0 10px;
}
.actions-wrap .context .process-results.task-privacy .status .info-icon svg {
  height: 12px;
  width: 12px;
  fill: #858587;
}
.actions-wrap .context .process-results.task-privacy .status .public,
.actions-wrap .context .process-results.task-privacy .status .private {
  background: #f5f6f8;
  padding: 2px 5px;
  color: #858587;
  font-size: 13px;
  border-radius: 2px;
  font-weight: 400;
}
.actions-wrap .context .process-results.task-date {
  margin-left: 5px;
}
.actions-wrap .context .process-text-wrap .privacy-action-label {
  margin-right: 5px;
}
.actions-wrap .context .process-results {
  margin-right: 10px;
}
.actions-wrap .context .process-results.task-date {
  display: flex;
  align-items: center;
  border-radius: 2px;
  position: relative;
}
.actions-wrap .context .process-results.task-date:hover .delete-date-wrap {
  display: flex;
}
.actions-wrap .context .process-results.task-date .delete-date-wrap {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #cf513d;
  border-radius: 2px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.actions-wrap .context .process-results.task-date .delete-date-wrap .btn svg {
  height: 10px;
  width: 10px;
  fill: #fff;
}
.actions-wrap .context .process-results.task-date .date-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(9, 30, 66, 0.04);
  border-radius: 2px;
  padding: 0px 5px;
  padding-right: 0;
  font-size: 12px;
}
.actions-wrap .context .process-results.task-date .date-wrapper .start,
.actions-wrap .context .process-results.task-date .date-wrapper .seperator,
.actions-wrap .context .process-results.task-date .date-wrapper .due {
  margin-right: 5px;
  font-weight: 400;
}
.actions-wrap .context .process-results.task-date .date-wrapper .relative {
  background: #e5e5e5;
  padding: 1px 5px;
  font-weight: 400;
  border-top-right-radius: 2px;
  color: #71767c;
  border-bottom-right-radius: 2px;
}
.actions-wrap .context .process-results.task-date .status {
  border-radius: 3px;
  font-size: 12px;
}
.actions-wrap .context .process-results.task-date .status .current {
  background: #61be4f;
  padding: 2px 5px;
  color: #fff;
  font-size: 13px;
  border-radius: 3px;
  font-weight: 300;
  margin-right: 10px;
}
.actions-wrap .context .process-results.task-date .status .overdue {
  background: #cf513d;
  padding: 2px 5px;
  color: #fff;
  font-size: 13px;
  border-radius: 3px;
  font-weight: 300;
  margin-right: 10px;
}
.actions-wrap .context .process-text-wrap.due-date {
  color: #cf513d;
}
.actions-wrap .context .process-text-wrap.due-date .process-btn svg {
  fill: #cf513d;
}
.actions-wrap .context .process-text-wrap.due-date .relative {
  color: #cf513d !important;
}
.actions-wrap .context .process-text-wrap.due-date:hover .process-btn svg {
  fill: #fff;
}
.task-title-wrap:hover .pm-task-title-span {
  padding: 6px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-top-color: #cecece;
  border-left-color: #cecece;
  border-right-color: #f1f1f1;
  border-bottom-color: #f1f1f1;
}
.task-title-wrap .pm-task-title-span {
  display: block;
  padding: 6px 0;
  transition: all 0.5s ease-out;
  border-radius: 3px;
  border: 1px solid #fff;
}
.task-list-title-wrap .task-list-title-text {
  font-size: 13px;
  font-weight: bold;
  color: #23282d;
}
.task-list-title-wrap .list-title {
  font-size: 12px;
  color: #202020;
  font-weight: 400;
}
.task-list-title-wrap .list-title a {
  color: #347493;
  font-size: 12px;
  font-weight: 600;
}
.pm-single-task-wrap .discuss-wrap {
  margin-top: 20px;
}
.pm-single-task-wrap .option-icon-groups .pm-action-wrap {
  display: flex;
  align-items: center;
}

